{% extends 'layout.html' %}

{% block body %}
 <div class="row"><h3>Pokemones</h3></div>
  <div class="row">
    <div class="col-md-10">

  
    <div class="col-md-12">
      <table id="example" class="table table-striped table-bordered" style="width:100%">
        <thead>
          <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Tipo</th>
            <th>Habilidad</th>
            <th>Numero</th>
          
          </tr>
        </thead>
        <tbody>
          {% for fila in lista_pokemon %}
          <tr>
            <td>{{fila['id']}}</td>
            <td>{{fila['nombre']}}</td>
            <td>{{fila['tipo']}}</td>
            <td>{{fila['habilidad']}}</td>
            <td>{{fila['numero']}}</td>
            
            
             
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      
    </div>
  </div>
  
</div>



{% endblock %}